.p-button.colorNaranja {
    background-color: #2b374b!important;
    color: #ffffff!important;
    border: 2px solid #2b374b6c;
}

.p-button.p-button-outlined.salir {
    color: #f88379 !important;
}